body{
    margin: 120px;
}
#div0{
    margin: 20px ;
}
img{
    width: 100%;
}
#h0{
    text-transform: uppercase;
    text-align: center;
}

iframe{
    width: 100%;
    height: 700px;
}
.par{
    text-align: justify;
    line-height: 1.5;
    font-size: larger;
    
}
#img0{
    margin: 20px;
    width: 
    
}