
* {
    background-color: rgb(235, 233, 255);
    font-family: Arial, Helvetica, sans-serif;
}

p{
    /*backgournd*/

    color: rgb(0, 0, 0);
    background-color: rgba(223, 255, 107, 0.938);
}
#id1 {
    background-color: chartreuse;
    color: blue;
    text-align: center;
}
.akon{
    background-color: bisque;
    
}